sudo: required
language: java

services:
  - docker
jdk:
  - oraclejdk8

addons:
  apt:
    packages:
      - "python3"
      - "python3-pip"
before_install:
  - /usr/bin/env python3 -m pip install --user pip virtualenv
  - /usr/bin/env python3 -m virtualenv .gradle/python

script:
   - ./gradlew mkdocsBuild
   - ./gradlew assemble
   - ./gradlew check
   - ./gradlew docker

after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    ./gradlew dockerPush;
    fi