.c-spot-grid {
  font-size: 0;
  text-align: center;
  margin-left: -2vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &__item {
    flex-grow: 1;
    flex-basis: 20%;
    padding-left: 2vw;

    &.as--primary {
      flex-basis: 25%;
    }
  }
}