body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $color-dark;
}

a {
  color: $color-primary;
  text-decoration-skip: ink;
  outline: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}